* {
	box-sizing: border-box;
}
body {
	margin: auto;
}
#container1 {
	width: 1700px;
	min-height: 600px;
	margin: auto;
	padding: 0px;
	background: white;
	font-weight: bold;
}
#all1 {
	width: 800px;
	height: 550px;
	border: 5px double #474b78;
	float: left;
	margin: 20px;
}
#header1 {
	width: 750px;
	height: 100px;
	background: #2da2bf;
	color: white;
	font-size: 50px;
	text-align: center;
	border: 1px solid grey;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
#content1  {
	width: 750px;
	height: 300px;
	background: #2da2bf;
	color: white;
	font-size: 50px;
	text-align: center;
	margin: auto;
}
#footer1  {
	width: 750px;
	height: 100px;
	background: #2da2bf;
	color: white;
	font-size: 50px;
	text-align: center;
	margin: auto;
	margin-top: 10px;
}
#all2 {
	width: 800px;
	height: 550px;
	background: inherit;
	border: 5px double #474b78;
	float: right;
	font-family: arial, helvetica, sans-serif;
	margin: 20px;
}
#slide2 {
	width: 180px;
	height: 500px;
	background: #2da2bf;
	font-size: 50px;
	color: white;
	float: left;
	margin: 20px;
}
#main2 {
	width: 530px;
	height: 510px;
	background: white;
	font-size: 50px;
	color: white;
	float: left;
	margin: 20px;
}
#header2 {
	width: 530px;
	height: 130px;
	background: #2da2bf;
	border: 1px solid grey;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
}
#content2 {
	width: 530px;
	height: 180px;
	background: #2da2bf;
	border: 1px solid grey;
	margin: auto;
	text-align: center;
}
#footer2 {
	width: 530px;
	height: 150px;
	background: #2da2bf;
	border: 1px solid grey;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}
#container2 {
	width: 1700px;
	min-height: 600px;
	margin: auto;
	padding: 0px;
	background: white;
	font-weight: bold;
}
#all3 {
	width: 800px;
	height: 550px;
	background: white;
	border: 5px double #474b78;
	font-family: arial, helvetica, sans-serif;
	font-size: 50px;
	color: white;
	float: left;
	margin: 20px;
}
#header3 {
	width: 750px;
	height: 150px;
	background: #2da2bf;
	border: 1px solid grey;
	text-align: center;
	margin: 20px;
}
#main3 {
	width: 750px;
	height: 200px;
	background: white;
	text-align: center;
	margin: 20px;
}
.slide3 {
	width: 200px;
	height: 200px;
	background: #2da2bf;
	border: 1px solid grey;
	text-align: center;
	float: left;
}
#content3 {
	width: 310px;
	height: 200px;
	background: #2da2bf;
	border: 1px solid grey;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	float: left;
}
#footer3 {
	width: 750px;
	height: 110px;
	background: #2da2bf;
	border: 1px solid grey;
	text-align: center;
	margin: 20px;	
}
#all4 {
	width: 800px;
	height: 550px;
	background: white;
	border: 5px double #474b78;
	font-family: arial, helvetica, sans-serif;
	font-size: 50px;
	color: white;
	float: right;
	margin: 20px;
}
#header4 {
	width: 750px;
	height: 150px;
	background: #2da2bf;
	border: 1px solid grey;
	text-align: center;
	margin: 20px;
}
#main4 {
	width: 750px;
	height: 200px;
	background: white;
	margin: 20px;
}
.slide4 {
	width: 200px;
	height: 200px;
	background: #2da2bf;
	border: 1px solid grey;
	text-align: center;
	float: left;
}
#content4 {
	width: 530px;
	height: 200px;
	background: #2da2bf;
	border: 1px solid grey;
	text-align: center;
	margin-left: 20px;
	float: left;
}
#footer4 {
	width: 750px;
	height: 110px;
	background: #2da2bf;
	border: 1px solid grey;
	text-align: center;
	margin: 20px;	
}